TestConsole/Service References/LocalActivityServiceReference/ActivityDetailsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ActivityServiceWebRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ActivityServiceWebRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActivityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityData" nillable="true" type="tns:ActivityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityData" nillable="true" type="tns:ArrayOfActivityData" />
  <xs:complexType name="ActivityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTimeStamp" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityData" nillable="true" type="tns:ActivityData" />
</xs:schema>