TestConsole/Service References/LocalActivityServiceReference/ActivityDetailsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8338/ActivityDetailsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ActivityServiceWebRole" />
  <xs:element name="CheckService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ActivityServiceWebRole" minOccurs="0" name="GetActivityDetailsResult" nillable="true" type="q1:ArrayOfActivityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>